<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product!</title>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: rgb(105, 120, 39);
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/welcome">Home</a></li>
        <li><a href="/products/create">Create Product</a></li>
        <li><a href="/products/searchProduct">Search Product</a></li>
        <li><a href="/products/updateProduct">Update Product</a></li>
        <li><a href="/products/deleteProduct">Delete Product</a></li>
        <li><a href="/api/ai/ask">Ask Ai</a></li>
      </ul>
    </nav>

    <h1 align="center">Create your product</h1>
    <form action="/products/create" method="POST" align="center">
      <label for="name">
        Product name:
        <input type="text" name="name" required minlength="3" />
      </label>
      <label for="price">
        Price:
        <input type="number" name="price" required min="1" />
      </label>
      <label for="description">
        Description:
        <input type="text" name="description" minlength="15" />
      </label>
      <br />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
