<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete products</title>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: rgb(105, 120, 39);
      }

      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/welcome">Home</a></li>
        <li><a href="products/create">Create Product</a></li>
        <li><a href="products/searchProduct">Search Products</a></li>
        <li><a href="products/deleteProduct">Delete Products</a></li>
      </ul>
    </nav>

    <h1>Delete products!</h1>

    <search>
      <form action="deleteProduct" method="POST" align="center">
        <input
          type="text"
          minlength="3"
          name="id"
          placeholder="Enter product ID"
        />
        <button type="submit">Delete</button>
      </form>
    </search>
  </body>
</html>
