<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In!</title>
  </head>
  <body>
    <h1 align="center">Log In!</h1>
    <form action="/users" method="POST" align="center">
      <label for="name">
        Name:
        <input type="text" name="username" />
      </label>
      <label for="name">
        Password:
        <input type="password" name="password" />
      </label>
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
