<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <style>
      div {
        width: 30%;
        display: inline-block;
        border: 3px solid black;
        text-align: center;
      }
      h1 {
        text-align: center;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: rgb(105, 120, 39);
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/welcome">Home</a></li>
        <li><a href="products/create">Create Product</a></li>
        <li><a href="products/searchProduct">Search Product</a></li>
        <li><a href="products/update">Update Product</a></li>
        <li><a href="products/deleteProduct">Delete Product</a></li>
      </ul>
    </nav>

    <h1>All products!</h1>
    <hr />
    <% products.forEach(product => { %>
    <div>
      <h2>Title: <%= product.name %></h2>
      <hr />
      <p>Price: <%= product.price %> $</p>
      <p>Description: <%= product.description %></p>
      <p>ID: <%= product._id %></p>
    </div>
    <% }) %>
  </body>
</html>
